@{
  Layout = "_Layout";
}
<div class="container">
  <h1>Add a new order to @Model.Name</h1>
  <p>Input order for the @Model.Name bellow</p>
  <form action='/vendors/@Model.Id/orders' method='post'>
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
    
    <h2>Bread:</h2>
    <input type="number" id="bread-01" name="bread-01" min="0" max="50" value=0>
    <label for="bread-01">Sourdough</label>
    <br>
    <input type="number" id="bread-02" name="bread-02" min="0" max="50" value=0>
    <label for="bread-02">Baguette</label>
    <br>
    <input type="number" id="bread-03" name="bread-03" min="0" max="50" value=0>
    <label for="bread-03">Ciabatta</label>
    <br>
    <input type="number" id="bread-04" name="bread-04" min="0" max="50" value=0>
    <label for="bread-04">Rye</label>
    <hr>
    <h2>Pastry:</h2>
    <input type="number" id="pastry-01" name="pastry-01" min="0" max="50" value=0>
    <label for="pastry-01">Kringle</label>
    <br>
    <input type="number" id="pastry-02" name="pasrty-02" min="0" max="50" value=0>
    <label for="pastry-02">Eclair</label>
    <br>
    <input type="number" id="pastry-03" name="pastry-03" min="0" max="50" value=0>
    <label for="pastry-03">Danish</label>
    <br>
    <input type="number" id="pastry-04" name="pastry-04" min="0" max="50" value=0>
    <label for="pastry-04">Cannoli</label>
    <hr>
    <label for="orderDescription">Order Description</label>
    <input id="orderDescription" name="orderDescription" type="text">
    <label for="date">Order Date:</label>
    <input id="date" name="date" type="text">
    <button type="submit">Add Order</button>
  </form>
</div>